<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitsaa.bamc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.bitsaa.bamc.LoginActivity" />
        <activity android:name="com.bitsaa.bamc.Register" />
        <activity android:name="com.bitsaa.bamc.ApiFitData" />
        <activity android:name="com.bitsaa.bamc.display_calorie" />
        <activity android:name="com.bitsaa.bamc.Splash1" />
        <activity android:name="com.bitsaa.bamc.Splash2" />
        <activity android:name="com.bitsaa.bamc.WelcomeScreen" />

        <receiver
            android:name="com.bitsaa.bamc.InternetReceiver"
            android:enabled="true"
            android:exported="false">
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </receiver>

        <activity
            android:name="com.bitsaa.bamc.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bitsaa.bamc.LeaderboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.animesh.bamc.Leaderboardactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bitsaa.bamc.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bitsaa.bamc.Disclaimer" />
        <activity android:name="com.bitsaa.bamc.Honor_Code"></activity>
    </application>

</manifest>